.user {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 16px;
  background-color: #fff;
  padding: 24px;
  width: 360px;
}

.user__img {
  border-radius: 8px;
  width: 112px;
  height: 120px;
}

.user__content {
  height: 100%;
  width: 100%;
}